### Project Specific ###

# Metamod files
# Ignore all unrelated/unneeded Metamod files
dist/**/addons/metamod/README.txt
dist/*/addons/metamod/**/metamod.2.*.so
!dist/*/addons/metamod/**/metamod.2.hl2dm.so
!dist/*/addons/metamod/**/metamod.2.sdk2013.so
!dist/*/addons/metamod/**/metamod.2.tf2.so


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history


### Linux Cruft ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*


### macOS Cruft ###
.AppleDouble
._*
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns


### Windows Cruft ###
*.stackdump
*.lnk
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
Thumbs.db
